/* TSOS.css */

body {
    background: #09090F;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12pt;
    color: white;
    font-weight: normal;
    font-style: normal;
    margin: 0;
}

h1 {
    color: white;
    font-size: 24pt;
    font-weight: normal;
    font-style: normal;
    border-bottom: 1px solid black;
}

h2 {
    color: white;
    font-size: 20pt;
    font-weight: normal;
    font-style: normal;
}

h3 {
    color: white;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 16pt;
    font-weight: normal;
    font-style: normal;
}

table {
    border-collapse: collapse;
}

textarea {
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}

#display {
    cursor: default;
}

#background {
    position: fixed;
    z-index: -100;
}

#divMain {
    animation-name:fadein;
    animation-duration:0.75s;

    background-color: #0A0A10;
}

#divStatus, #divDateTime {
    text-align: right;
}

#divDateTime {
    position: sticky;
    right: 0;
}

.normal_button {
    width: 32px;
    height: 32px;
    
    background-color: #0F0F15;
    color: white;

    border: 1px solid black;
    border-radius: 20px;
}

.bordered {
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.solid {
    background: #0F0F15;
}

.solid tr:nth-child(2n+1) {
    background-color: #0D0D15;
}

.solid thead {
    width: inherit;
    background-color: #0A0A10 !important;
}

.solid thead tr {
    width: inherit;
    background-color: #0A0A10 !important;
}

.solid td, th {
    text-align: left;
    padding: 10px;
}

.scrolling {
    display: block;
    height: 160px;
    overflow: auto;
}

.scrolling thead tr {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

@keyframes fadein {
    0% { 
        opacity: 0%;
        transform: translate(0px, 100px);
    }
    100% { 
        opacity: 100%;
        transform: translate(0px, 0px);
    }
}
